$mainColor: #233056;
$linkBlue: #73adff;
$dark-two: #0d1221;
$semi: #4f5977;
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

body {
  width: 2100px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  & > * {
    border: 1px solid red;
    margin-top: 50px;
    margin-left: 40px;
  }
}

.login-stage {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  width: 360px;
  background-color: $mainColor;
  border-radius: 2px;
  padding: 50px;
  color: rgb(255, 255, 255);
  letter-spacing: .03em;

  h2 {
    font-size: 24px;
    line-height: 1.5em;
    font-weight: 600;
    margin: 0 0 24px;
  }

  .btn-block {
    margin-bottom: 24px;
    .btn {
      width: 100%;
    }
  }
  .captcha-block {
    width: 100%;
    transform: scale(0.8515);
    transform-origin: 0 0;
    margin-bottom: 24px;
  }
  .link-list {
    text-align: center;
  }
  .form-group {
    margin-bottom: 24px;
    label {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
    }
  }
  .link-block {
    margin-bottom: 18px;
    letter-spacing: .015em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .social-btn {
    letter-spacing: .01em;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width: 260px;
    margin-bottom: 12px;
    color: #fffffe;
    font-weight: 600;
    font-size: 14px;
    &.vk {
      background-color: #4c6c91;
    }
    &.fb {
      background-color: #3a599a;
    }
    &.tw {
      background-color: #55acee;
    }
    &.google {
      background-color: #fff;
      color: rgba(0, 0, 0, 0.54);
    }
    &.bnet {
      background-color: #153d5f;
    }
    &:last-child {
      margin-bottom: 24px;
    }
    img {
      margin: 8px 17px 8px 8px;
    }
  }
  .social-block {
    margin-bottom: 25px;
  }

  &.mail-confirm {
    p, .link-block {
      margin-bottom: 24px;
    }
  }
  &.login-social {
    padding-bottom: 29px;
    .gglogo {
      margin: 0 auto 41px 57px;
      width: 147px;
    }
  }
  &.sign-in {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    .checkbox {
      margin-bottom: 24px;
    }
  }
  &.registration {
    margin-top: 50px;
  }
  &.add-social {
    .btn-block {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
    .btn {
      width: 118px;
    }
  }

  &.mail-confirm, &.add-social {
    h2 {
      margin-bottom: 12px;
    }
    .btn-block {
      margin-bottom: 0;
    }
  }
}

